.bulb-img {
    position: absolute;
    margin-top: -170px;
    margin-left: 875px;
    z-index: 6;
    -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.bulb-flick-img {
    position: absolute;
    margin-top: -170px;
    margin-left: 551px;
    pointer-events: none;
    -webkit-animation: flicker-4 2.5s linear 2 both;
    animation: flicker-4 2.5s linear 2 both;
}

.hero-container {
    padding-top: 50px;
    display: flex;
}

.social-icons-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-right: 15px;
    animation: 1300ms ease-in-out 0ms 1 slideInFromBot;
}

.social-icons {
    margin-top: 25px;
    width: 16px;
    color: var(--slate);
    transition: scale 300ms ease-in-out;
}

.social-icons:hover {
    cursor: pointer;
    color: var(--green);
    transform: scale(1.1);
    transition: all 300ms ease-in-out;
}

.hero-content {
    padding-left: 20px;
    margin-top: 25px;
}

.hero-content .greet {
    color: var(--green);
    font-size: 16px;
    line-height: 1.1;
    margin-bottom: 20px;
    animation: 1000ms ease-out 0ms 1 slideInFromBot;
    font-weight: 300;
}

.hero-content h1 {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(40px, 8vw, 60px);
    font-weight: 700;
    color: var(--lightest-slay);
    line-height: 1.2;
    margin-bottom: 10px;
    text-size-adjust: none;
    animation: 1100ms ease-in-out 0ms 1 slideInFromBot;
}

.animated-container {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 25px;
    animation: 1200ms ease-in-out 0ms 1 slideInFromBot;
}


.animated-container span {
    font-family: 'Poppins', sans-serif;
    font-size: clamp(40px, 8vw, 55px);
    color: var(--slate);
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 30px;
}

.hero-content .description {
    font-family: 'Poppins', sans-serif;
    color: var(--slate);
    max-width: 540px;
    font-size: 16px;
    margin-bottom: 40px;
    animation: 1300ms ease-in-out 0ms 1 slideInFromBot;
    font-weight: 300;
}

.hero-content .call-to-action {
    display: flex;
    color: var(--green);
    padding: 8px 17px;
    border: 1px solid #64ffda;
    border-radius: 5px;
    background-color: transparent;
    width: 150px;
    justify-content: space-around;
    padding: 15px 25px;
    animation: 1400ms ease-in-out 0ms 1 slideInFromBot;
}

.hero-content .call-to-action:hover {
    background: var(--green-tint);
    cursor: pointer;
    transition: 200ms ease-in;
}

.welcome {
    animation: 1300ms ease-in-out 0ms 1 slideInFromBot;
}

.welcome .person-img {
    width: 300px;
    position: absolute;
    margin-left: 80px;
    margin-top: 25px;
    z-index: 5;
}

.welcome .tree-img {
    position: absolute;
    margin-left: 340px;
    margin-top: 140px;
    z-index: 4;
}

.welcome .fan-img {
    position: absolute;
    margin-left: 328px;
    z-index: 3;
}

.welcome .fan-spinner-img {
    position: absolute;
    margin-left: 346px;
    margin-top: 18px;
    z-index: 2;
    -webkit-animation: rotate-center 0.5s linear 2s infinite both;
    animation: rotate-center 0.5s linear 2s infinite both;
}

.welcome .leave1-img {
    position: absolute;
    margin-left: 346px;
    margin-top: 146px;
    z-index: 3;
    -webkit-animation: vibrate-3 6s linear 2s infinite both;
    animation: vibrate-3 6s linear 2s infinite both;
}

.welcome .leave2-img {
    position: absolute;
    margin-left: 375px;
    margin-top: 146px;
    z-index: 3;
    -webkit-animation: vibrate-1 6s linear 2s infinite both;
    animation: vibrate-1 6s linear 2s infinite both;
}

.welcome .bulb {
    position: absolute;
}




/* for Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .bulb-img {
        display: none;
    }

    .bulb-flick-img {
        display: none;
    }

    .hero-content {
        padding-left: 0px;
    }

    .social-icons-container {
        display: none;
    }

    .hero-content h1 {
        font-size: 65px;
    }

    .animated-container span {
        font-size: 60px;
    }

    .hero-content .description {
        font-size: 20px;
        font-weight: 400;
        max-width: none
    }

    .welcome {
        display: none;
    }
}

/* Mobile Resposive Styles */
@media screen and (max-width: 550px) {
    .bulb-img {
        display: none;
    }

    .bulb-flick-img {
        display: none;
    }

    .hero-content {
        padding-left: 0;
    }

    .social-icons-container {
        display: none;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content .animated-text {
        font-size: 25px;
    }

    .animated-container span {
        font-size: 25px;
    }

    .hero-content .description {
        font-size: 14px;
        font-weight: 400;
    }

    .welcome {
        display: none;
    }
}

/* Keyframes */
/* Keyframes for the hero content */
@keyframes slideInFromBot {
    0% {
        transform: translateY(50px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 100;
    }
}

/* Keyframes for the bulb slide from the top */
@-webkit-keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide-in-top {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

/* Keyframes for the bulb flick animation*/
@-webkit-keyframes flicker-4 {

    0%,
    100% {
        opacity: 1;
    }

    31.98% {
        opacity: 1;
    }

    32% {
        opacity: 0;
    }

    32.8% {
        opacity: 0;
    }

    32.82% {
        opacity: 1;
    }

    34.98% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    35.7% {
        opacity: 0;
    }

    35.72% {
        opacity: 1;
    }

    36.98% {
        opacity: 1;
    }

    37% {
        opacity: 0;
    }

    37.6% {
        opacity: 0;
    }

    37.62% {
        opacity: 1;
    }

    67.98% {
        opacity: 1;
    }

    68% {
        opacity: 0;
    }

    68.4% {
        opacity: 0;
    }

    68.42% {
        opacity: 1;
    }

    95.98% {
        opacity: 1;
    }

    96% {
        opacity: 0;
    }

    96.7% {
        opacity: 0;
    }

    96.72% {
        opacity: 1;
    }

    98.98% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    99.6% {
        opacity: 0;
    }

    99.62% {
        opacity: 1;
    }
}

@keyframes flicker-4 {

    0%,
    100% {
        opacity: 1;
    }

    31.98% {
        opacity: 1;
    }

    32% {
        opacity: 0;
    }

    32.8% {
        opacity: 0;
    }

    32.82% {
        opacity: 1;
    }

    34.98% {
        opacity: 1;
    }

    35% {
        opacity: 0;
    }

    35.7% {
        opacity: 0;
    }

    35.72% {
        opacity: 1;
    }

    36.98% {
        opacity: 1;
    }

    37% {
        opacity: 0;
    }

    37.6% {
        opacity: 0;
    }

    37.62% {
        opacity: 1;
    }

    67.98% {
        opacity: 1;
    }

    68% {
        opacity: 0;
    }

    68.4% {
        opacity: 0;
    }

    68.42% {
        opacity: 1;
    }

    95.98% {
        opacity: 1;
    }

    96% {
        opacity: 0;
    }

    96.7% {
        opacity: 0;
    }

    96.72% {
        opacity: 1;
    }

    98.98% {
        opacity: 1;
    }

    99% {
        opacity: 0;
    }

    99.6% {
        opacity: 0;
    }

    99.62% {
        opacity: 1;
    }
}

/* Fan rotational animations */
@-webkit-keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate-center {
    0% {
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* Keyframes for leave wind effect*/
@-webkit-keyframes vibrate-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-3 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    10% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    20% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    30% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    50% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    70% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    80% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    90% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* Keyframes for leave animation 2*/
@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}